/node_modules
/public/hot
/public/storage
/public/backend
/storage/*.key
/.idea
/.vagrant
/uploads
/vendor
Homestead.yaml
Homestead.json
composer.lock
/build
_ide_helper.php
.phpstorm.meta.php
resources/views/test
config/ide-helper.php
config/activity.php
config/bank.php
config/export.php
config/fstat.php
config/oss.php
config/pay.php
config/slb.php
config/sls.php
config/sso.php
config/upyun.php
config/url.php
config/user.php
config/nsq.php
